<nav>
    <div class="site_title">
        <a href="/"><h1>Samejima</h1></a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/play">PLAY</a></li>
    </ul>
</nav>