<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
<body>
    <%- include('./partials/nav') %>
    <h1 id="top">Japanese Learning App</h1>
    <form action="">
        <label for="hiragana">あ</label>
        <input type="checkbox" name="hiragana" id="">
        <label for="katakana">ア</label>
        <input type="checkbox" name="katakana" id="">
        <button type="submit">Learn!</button>
    </form>
    <%- include('./partials/footer') %>
</body>
</html>