<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
<body>
    <div id="question">
        <h2>question</h2>
        <div id="answers">
            <button type="button">1</button>
            <button type="button">2</button>
            <button type="button">3</button>
            <button type="button">4</button>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>