<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
<body>
    <%- include('./partials/nav') %>
    <div id="question">
        <h2>question</h2>
        <div id="answers">
            <p class="answer-button" >1</p>
            <p class="answer-button" >2</p>
            <p class="answer-button" >3</p>
            <p class="answer-button" >4</p>
        </div>
        <h3>Time: 60</h3>
    </div>
    <%- include('./partials/footer') %>
</body>